*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style-type: none;}
a{color: black; text-decoration: none;}
button{cursor: pointer;}
input{
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-align: center;
}

.headerBox, .footerBox{
    background-color: #eeeeee;
    padding: 30px 0px;
}
.footerBox > p{
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
}
.header > li:nth-child(1){
    text-align: center;
}
.header > li {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}
#container{
    margin: 50px 0px;
    text-align: center;
}
h2{
    margin: 20px 0px;
}
.fileInput{
    width: 175px;
    font-size: 12px;
}
.previewFalse{
    margin: 10px auto;
    padding: 37px;
    width: 160px;
    height: 100px;
    border: 1px solid darkgray;
    color: gray;
}

.signupBtn,.loginBtn{
    width: 160px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
}


.loginState, .loginStateBtn{
    background-color: black;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
}

